In [1]:
import pandas as pd
from sodapy import Socrata
from datetime import datetime

In [32]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

### Scraping Chicago Crime Data for last 10 years (2014-2023)

In [7]:
api_token = "DQdKNTCLRmXZ2yDZBqPY8HBpM"

client = Socrata("data.cityofchicago.org", api_token)

start_date = "2014-01-01T00:00:00.000"
end_date = "2014-12-31T23:59:59.999"

dataset_identifier = "qnmj-8ku6"

query = f"date between '{start_date}' and '{end_date}'"

results = client.get(dataset_identifier, where=query, limit=500000)

client.close()

df_2014 = pd.DataFrame.from_records(results)

print(df_2014.head())

                      date  \
0  2014-12-31T23:58:00.000
1  2014-12-31T23:50:00.000
2  2014-12-31T23:50:00.000
3  2014-12-31T23:50:00.000
4  2014-12-31T23:46:00.000

                                                                                                                                                      location  \
0   {'latitude': '41.99355926', 'human_address': '{"address": "", "city": "", "state": "", "zip": ""}', 'needs_recoding': False, 'longitude': '-87.683592691'}
1   {'latitude': '41.750468387', 'human_address': '{"address": "", "city": "", "state": "", "zip": ""}', 'needs_recoding': False, 'longitude': '-87.65561467'}
2   {'latitude': '41.824851907', 'human_address': '{"address": "", "city": "", "state": "", "zip": ""}', 'needs_recoding': False, 'longitude': '-87.61140535'}
3  {'latitude': '41.892407716', 'human_address': '{"address": "", "city": "", "state": "", "zip": ""}', 'needs_recoding': False, 'longitude': '-87.721100762'}
4  {'latitude': '41.678519693', 'human_address': '{"address": "", "city": "", "state": "", "zip": ""}', 'needs_recoding': False, 'longitude': '-87.662497935'}

  district                   block y_coordinate      latitude  \
0      024    061XX N HAMILTON AVE      1940913   41.99355926
1      006         012XX W 79TH ST      1852390  41.750468387
2      002         006XX E 38TH PL      1879593  41.824851907
3      011      006XX N HAMLIN AVE      1903978  41.892407716
4      022  118XX S MARSHFIELD AVE      1826158  41.678519693

                description     location_description               updated_on  \
0                    SIMPLE  RESIDENCE PORCH/HALLWAY  2018-02-10T15:50:01.000
1  UNLAWFUL POSS OF HANDGUN                    ALLEY  2016-02-04T06:33:39.000
2              TO RESIDENCE                APARTMENT  2016-02-04T06:33:39.000
3      UNLAWFUL USE HANDGUN  RESIDENCE PORCH/HALLWAY  2016-02-04T06:33:39.000
4     ILLEGAL USE CASH CARD         DEPARTMENT STORE  2018-02-10T15:50:01.000

  community_area  iucr x_coordinate ward case_number  year  domestic fbi_code  \
0              2  0460      1160876   40    HY100008  2014     False      08B
1             71  143A      1169181   21    HY100062  2014     False       15
2             36  1365      1181017    4    HY100004  2014      True       26
3             23  141A      1150943   27    HY100036  2014     False       15
4             75  1152      1167507   34    HY113629  2014     False       11

       longitude  beat        primary_type  arrest       id
0  -87.683592691  2413             BATTERY   False  9911557
1   -87.65561467  0612   WEAPONS VIOLATION    True  9911147
2   -87.61140535  0212   CRIMINAL TRESPASS    True  9911062
3  -87.721100762  1122   WEAPONS VIOLATION    True  9911122
4  -87.662497935  2234  DECEPTIVE PRACTICE   False  9924830

In [22]:
df_2018.shape

(268943, 22)

In [8]:
start_date = "2015-01-01T00:00:00.000"
end_date = "2015-12-31T23:59:59.999"

dataset_identifier = "vwwp-7yr9"

query = f"date between '{start_date}' and '{end_date}'"

results = client.get(dataset_identifier, where=query, limit=500000)

client.close()

df_2015 = pd.DataFrame.from_records(results)

print(df_2015.head())

                      date district                     block  \
0  2015-12-31T23:59:00.000      014        015XX N KEDZIE AVE
1  2015-12-31T23:59:00.000      006       075XX S EMERALD AVE
2  2015-12-31T23:55:00.000      004  079XX S STONY ISLAND AVE
3  2015-12-31T23:50:00.000      024         024XX W FARGO AVE
4  2015-12-31T23:50:00.000      019          037XX N CLARK ST

                     description     location_description  \
0                  FROM BUILDING  RESIDENCE PORCH/HALLWAY
1                     TO VEHICLE                   STREET
2  AGGRAVATED: OTHER DANG WEAPON                   STREET
3                 $500 AND UNDER                APARTMENT
4                         SIMPLE                 SIDEWALK

                updated_on community_area  iucr ward case_number  year  \
0  2018-02-09T15:44:29.000             23  0890   26    HZ199559  2015
1  2018-02-10T15:50:01.000             68  1320   17    HZ100370  2015
2  2018-02-10T15:50:01.000             45  0430    8    HZ100006  2015
3  2018-02-10T15:50:01.000              2  0820   50    HZ100010  2015
4  2018-02-10T15:50:01.000              6  0460   44    HZ100002  2015

   domestic fbi_code  beat     primary_type  arrest        id  \
0     False       06  1422            THEFT   False  10460641
1     False       14  0621  CRIMINAL DAMAGE   False  10365064
2     False      04B  0411          BATTERY   False  10364662
3     False       06  2411            THEFT   False  10364740
4     False      08B  1923          BATTERY    True  10364683

                                                                                                                                                      location  \
0                                                                                                                                                          NaN
1  {'latitude': '41.757366519', 'human_address': '{"address": "", "city": "", "state": "", "zip": ""}', 'needs_recoding': False, 'longitude': '-87.642992854'}
2  {'latitude': '41.751270452', 'human_address': '{"address": "", "city": "", "state": "", "zip": ""}', 'needs_recoding': False, 'longitude': '-87.585822373'}
3  {'latitude': '42.016804165', 'human_address': '{"address": "", "city": "", "state": "", "zip": ""}', 'needs_recoding': False, 'longitude': '-87.690708662'}
4  {'latitude': '41.949837364', 'human_address': '{"address": "", "city": "", "state": "", "zip": ""}', 'needs_recoding': False, 'longitude': '-87.658635101'}

  y_coordinate      latitude x_coordinate      longitude
0          NaN           NaN          NaN            NaN
1      1854931  41.757366519      1172605  -87.642992854
2      1852840  41.751270452      1188223  -87.585822373
3      1949369  42.016804165      1158878  -87.690708662
4      1925033  41.949837364      1167786  -87.658635101

In [9]:
start_date = "2016-01-01T00:00:00.000"
end_date = "2016-12-31T23:59:59.999"

dataset_identifier = "kf95-mnd6"

query = f"date between '{start_date}' and '{end_date}'"

results = client.get(dataset_identifier, where=query, limit=500000)

client.close()

df_2016 = pd.DataFrame.from_records(results)

print(df_2016.head())

                      date  \
0  2016-12-31T23:59:00.000
1  2016-12-31T23:58:00.000
2  2016-12-31T23:55:00.000
3  2016-12-31T23:55:00.000
4  2016-12-31T23:54:00.000

                                                                                                                                                      location  \
0  {'latitude': '41.976290414', 'human_address': '{"address": "", "city": "", "state": "", "zip": ""}', 'needs_recoding': False, 'longitude': '-87.905227221'}
1  {'latitude': '41.688033246', 'human_address': '{"address": "", "city": "", "state": "", "zip": ""}', 'needs_recoding': False, 'longitude': '-87.623931468'}
2   {'latitude': '41.936884881', 'human_address': '{"address": "", "city": "", "state": "", "zip": ""}', 'needs_recoding': False, 'longitude': '-87.66476981'}
3  {'latitude': '41.886814897', 'human_address': '{"address": "", "city": "", "state": "", "zip": ""}', 'needs_recoding': False, 'longitude': '-87.625592678'}
4  {'latitude': '41.752307019', 'human_address': '{"address": "", "city": "", "state": "", "zip": ""}', 'needs_recoding': False, 'longitude': '-87.619797619'}

  district                block y_coordinate      latitude  \
0      016     100XX W OHARE ST      1934241  41.976290414
1      005     0000X W 113TH PL      1829709  41.688033246
2      019  030XX N LINCOLN AVE      1920300  41.936884881
3      001    0000X E WACKER PL      1902140  41.886814897
4      006  078XX S INDIANA AVE      1853139  41.752307019

                     description                         location_description  \
0                      OVER $500  AIRPORT BUILDING NON-TERMINAL - SECURE AREA
1  AGGRAVATED: OTHER DANG WEAPON                                    RESIDENCE
2       LIQUOR LICENSE VIOLATION                                    RESIDENCE
3        DOMESTIC BATTERY SIMPLE                                  HOTEL/MOTEL
4                    TO PROPERTY                                    RESIDENCE

                updated_on community_area  iucr x_coordinate ward case_number  \
0  2018-02-10T15:50:01.000             76  0810      1100658   41    JA119772
1  2018-02-10T15:50:01.000             49  0430      1178014   34    JA100016
2  2017-01-07T15:56:13.000              6  2250      1166154   32    JA100027
3  2018-02-10T15:50:01.000             32  0486      1176964   42    JA100012
4  2018-02-10T15:50:01.000             69  1310      1178949    6    JA100839

   year  domestic fbi_code      longitude  beat          primary_type  arrest  \
0  2016     False       06  -87.905227221  1651                 THEFT   False
1  2016     False      04B  -87.623931468  0522               BATTERY   False
2  2016     False       22   -87.66476981  1932  LIQUOR LAW VIOLATION    True
3  2016      True      08B  -87.625592678  0111               BATTERY   False
4  2016      True       14  -87.619797619  0623       CRIMINAL DAMAGE   False

         id
0  10819224
1  10801137
2  10801110
3  10802006
4  10801865

In [10]:
start_date = "2017-01-01T00:00:00.000"
end_date = "2017-12-31T23:59:59.999"

dataset_identifier = "d62x-nvdr"

query = f"date between '{start_date}' and '{end_date}'"

results = client.get(dataset_identifier, where=query, limit=500000)

client.close()

df_2017 = pd.DataFrame.from_records(results)

print(df_2017.head())

                      date  \
0  2017-12-31T23:58:00.000
1  2017-12-31T23:50:00.000
2  2017-12-31T23:48:00.000
3  2017-12-31T23:45:00.000
4  2017-12-31T23:45:00.000

                                                                                                                                                      location  \
0  {'latitude': '41.965693651', 'human_address': '{"address": "", "city": "", "state": "", "zip": ""}', 'needs_recoding': False, 'longitude': '-87.715726125'}
1  {'latitude': '41.926558908', 'human_address': '{"address": "", "city": "", "state": "", "zip": ""}', 'needs_recoding': False, 'longitude': '-87.631294073'}
2  {'latitude': '41.895750913', 'human_address': '{"address": "", "city": "", "state": "", "zip": ""}', 'needs_recoding': False, 'longitude': '-87.623495923'}
3  {'latitude': '41.683369303', 'human_address': '{"address": "", "city": "", "state": "", "zip": ""}', 'needs_recoding': False, 'longitude': '-87.622829524'}
4  {'latitude': '41.856426716', 'human_address': '{"address": "", "city": "", "state": "", "zip": ""}', 'needs_recoding': False, 'longitude': '-87.638892854'}

  district                     block y_coordinate      latitude  \
0      017      046XX N ST LOUIS AVE      1930694  41.965693651
1      019  024XX N LAKE SHORE DR NB      1916610  41.926558908
2      018       001XX E SUPERIOR ST      1905401  41.895750913
3      005          115XX S STATE ST      1828012  41.683369303
4      012          019XX S CANAL ST      1891037  41.856426716

              description location_description               updated_on  \
0  ATTEMPT FORCIBLE ENTRY            APARTMENT  2018-05-04T15:51:04.000
1                  SIMPLE  MOVIE HOUSE/THEATER  2018-05-04T15:51:04.000
2           FROM BUILDING          HOTEL/MOTEL  2018-05-04T15:51:04.000
3     AGGRAVATED: HANDGUN            RESIDENCE  2018-05-04T15:51:04.000
4              TO VEHICLE               STREET  2018-05-04T15:51:04.000

  community_area  iucr x_coordinate ward case_number  year  domestic fbi_code  \
0             14  0630      1152214   33    JB100016  2017     False       05
1              7  0460      1175293   43    JB105867  2017     False      08B
2              8  0890      1177508   42    JB100551  2017     False       06
3             53  041A      1178329   34    JB100003  2017      True      04B
4             31  1320      1173432   25    JB100032  2017      True       14

       longitude  beat     primary_type  arrest        id
0  -87.715726125  1723         BURGLARY   False  11192233
1  -87.631294073  1935          BATTERY   False  11196379
2  -87.623495923  1833            THEFT   False  11192540
3  -87.622829524  0522          BATTERY   False  11192254
4  -87.638892854  1235  CRIMINAL DAMAGE   False  11192239

In [11]:
start_date = "2018-01-01T00:00:00.000"
end_date = "2018-12-31T23:59:59.999"

dataset_identifier = "3i3m-jwuy"

query = f"date between '{start_date}' and '{end_date}'"

results = client.get(dataset_identifier, where=query, limit=500000)

client.close()

df_2018 = pd.DataFrame.from_records(results)

print(df_2018.head())

                      date  \
0  2018-12-31T23:59:00.000
1  2018-12-31T23:59:00.000
2  2018-12-31T23:59:00.000
3  2018-12-31T23:57:00.000
4  2018-12-31T23:56:00.000

                                                                                                                                                      location  \
0  {'latitude': '41.763181359', 'human_address': '{"address": "", "city": "", "state": "", "zip": ""}', 'needs_recoding': False, 'longitude': '-87.657709477'}
1  {'latitude': '41.689078832', 'human_address': '{"address": "", "city": "", "state": "", "zip": ""}', 'needs_recoding': False, 'longitude': '-87.696064026'}
2                                                                                                                                                          NaN
3  {'latitude': '41.740520866', 'human_address': '{"address": "", "city": "", "state": "", "zip": ""}', 'needs_recoding': False, 'longitude': '-87.647390719'}
4  {'latitude': '41.857068095', 'human_address': '{"address": "", "city": "", "state": "", "zip": ""}', 'needs_recoding': False, 'longitude': '-87.657625201'}

  district                   block y_coordinate      latitude  \
0      007         013XX W 72ND ST      1857018  41.763181359
1      022  112XX S SACRAMENTO AVE      1829936  41.689078832
2      004     100XX S OGLESBY AVE          NaN           NaN
3      006     084XX S SANGAMON ST      1848783  41.740520866
4      012      018XX S ALLPORT ST      1891230  41.857068095

                                           description  \
0                  FINANCIAL IDENTITY THEFT OVER $ 300
1                                           TO VEHICLE
2  AGGRAVATED SEXUAL ASSAULT OF CHILD BY FAMILY MEMBER
3                                          TO PROPERTY
4                 AGG: HANDS/FIST/FEET NO/MINOR INJURY

                updated_on community_area  iucr x_coordinate ward case_number  \
0  2019-01-17T14:26:36.000             67  1153      1168573    6    JC110056
1  2019-01-10T15:16:50.000             74  1320      1158309   19    JC104662
2  2023-10-19T15:42:40.000             51  1754          NaN    7    JG464580
3  2019-01-10T15:16:50.000             71  1310      1171454   21    JC100043
4  2019-01-10T15:16:50.000             31  0440      1168327   25    JC100006

   year  domestic fbi_code      longitude  beat                primary_type  \
0  2018     False       11  -87.657709477  0734          DECEPTIVE PRACTICE
1  2018     False       14  -87.696064026  2211             CRIMINAL DAMAGE
2  2018     False       02            NaN  0431  OFFENSE INVOLVING CHILDREN
3  2018     False       14  -87.647390719  0613             CRIMINAL DAMAGE
4  2018     False      08B  -87.657625201  1233                     BATTERY

   arrest        id location_description
0   False  11561837                  NaN
1   False  11556487               STREET
2   False  13247802            RESIDENCE
3   False  11552699            APARTMENT
4    True  11552724                OTHER

In [12]:
start_date = "2019-01-01T00:00:00.000"
end_date = "2019-12-31T23:59:59.999"

dataset_identifier = "w98m-zvie"

query = f"date between '{start_date}' and '{end_date}'"

results = client.get(dataset_identifier, where=query, limit=500000)

client.close()

df_2019 = pd.DataFrame.from_records(results)

print(df_2019.head())

                      date  \
0  2019-12-31T23:55:00.000
1  2019-12-31T23:54:00.000
2  2019-12-31T23:50:00.000
3  2019-12-31T23:48:00.000
4  2019-12-31T23:46:00.000

                                                                                                                                                      location  \
0  {'latitude': '41.769150218', 'human_address': '{"address": "", "city": "", "state": "", "zip": ""}', 'needs_recoding': False, 'longitude': '-87.627136786'}
1  {'latitude': '41.779173667', 'human_address': '{"address": "", "city": "", "state": "", "zip": ""}', 'needs_recoding': False, 'longitude': '-87.653277703'}
2                                                                                                                                                          NaN
3  {'latitude': '41.874623951', 'human_address': '{"address": "", "city": "", "state": "", "zip": ""}', 'needs_recoding': False, 'longitude': '-87.745052647'}
4  {'latitude': '41.877268465', 'human_address': '{"address": "", "city": "", "state": "", "zip": ""}', 'needs_recoding': False, 'longitude': '-87.711536692'}

  district                 block y_coordinate      latitude  \
0      007       0000X W 69TH ST      1859260  41.769150218
1      007        063XX S MAY ST      1862855  41.779173667
2      012   004XX N Ashland ave          NaN           NaN
3      015    004XX S CICERO AVE      1897452  41.874623951
4      011  034XX W JACKSON BLVD      1898480  41.877268465

                      description    location_description  \
0        UNLAWFUL POSS OF HANDGUN                  STREET
1  AGGRAVATED:KNIFE/CUTTING INSTR                SIDEWALK
2                  $500 AND UNDER           BAR OR TAVERN
3        UNLAWFUL POSS OF HANDGUN  VEHICLE NON-COMMERCIAL
4        UNLAWFUL POSS OF HANDGUN                  STREET

                updated_on community_area  iucr x_coordinate ward case_number  \
0  2020-01-07T18:57:13.000             69  143A      1176896    6    JD100017
1  2020-01-08T15:45:22.000             68  0420      1169736   16    JD100016
2  2020-01-07T18:57:13.000             24  0820          NaN   27    JD100599
3  2020-01-07T18:57:13.000             25  143A      1144466   29    JD100002
4  2020-01-07T18:57:13.000             27  143A      1153587   28    JC567053

   year  domestic fbi_code      longitude  beat       primary_type  arrest  \
0  2019     False       15  -87.627136786  0731  WEAPONS VIOLATION    True
1  2019     False      04B  -87.653277703  0724            BATTERY   False
2  2019     False       06            NaN  1215              THEFT   False
3  2019     False       15  -87.745052647  1533  WEAPONS VIOLATION    True
4  2019     False       15  -87.711536692  1133  WEAPONS VIOLATION   False

         id
0  11938228
1  11940078
2  11938857
3  11938240
4  11937967

In [13]:
start_date = "2020-01-01T00:00:00.000"
end_date = "2020-12-31T23:59:59.999"

dataset_identifier = "qzdf-xmn8"

query = f"date between '{start_date}' and '{end_date}'"

results = client.get(dataset_identifier, where=query, limit=500000)

client.close()

df_2020 = pd.DataFrame.from_records(results)

print(df_2020.head())

                      date  \
0  2020-12-31T23:59:00.000
1  2020-12-31T23:51:00.000
2  2020-12-31T23:45:00.000
3  2020-12-31T23:45:00.000
4  2020-12-31T23:45:00.000

                                                                                                                                                      location  \
0    {'latitude': '41.9116839', 'human_address': '{"address": "", "city": "", "state": "", "zip": ""}', 'needs_recoding': False, 'longitude': '-87.745917518'}
1  {'latitude': '41.863406877', 'human_address': '{"address": "", "city": "", "state": "", "zip": ""}', 'needs_recoding': False, 'longitude': '-87.710455868'}
2                                                                                                                                                          NaN
3  {'latitude': '41.792043078', 'human_address': '{"address": "", "city": "", "state": "", "zip": ""}', 'needs_recoding': False, 'longitude': '-87.624017919'}
4  {'latitude': '41.947024331', 'human_address': '{"address": "", "city": "", "state": "", "zip": ""}', 'needs_recoding': False, 'longitude': '-87.748122241'}

  district                  block y_coordinate      latitude  \
0      025     017XX N CICERO AVE      1910955    41.9116839
1      010      013XX S HOMAN AVE      1893431  41.863406877
2      006      080XX S ELLIS AVE          NaN           NaN
3      002     056XX S WABASH AVE      1867609  41.792043078
4      016  048XX W PATTERSON AVE      1923829  41.947024331

                               description  \
0                                OVER $500
1      AGGRAVATED - OTHER DANGEROUS WEAPON
2  AGGRAVATED - KNIFE / CUTTING INSTRUMENT
3                  DOMESTIC BATTERY SIMPLE
4                                OVER $500

                     location_description               updated_on  \
0  PARKING LOT / GARAGE (NON RESIDENTIAL)  2021-01-08T15:39:34.000
1                                  STREET  2021-01-07T15:41:47.000
2                               APARTMENT  2021-01-19T15:46:53.000
3                               APARTMENT  2021-01-07T15:41:47.000
4                               RESIDENCE  2021-01-07T15:41:47.000

  community_area  iucr x_coordinate ward case_number  year  domestic fbi_code  \
0             25  0810      1144138   37    JE104819  2020     False       06
1             29  0430      1153918   24    JE100080  2020     False      04B
2             44  0420          NaN    8    JE100003  2020     False      04B
3             40  0486      1177678   20    JD475015  2020      True      08B
4             15  0810      1143450   30    JE101051  2020     False       06

       longitude  beat primary_type  arrest        id
0  -87.745917518  2533        THEFT   False  12262588
1  -87.710455868  1021      BATTERY   False  12258658
2            NaN  0631      BATTERY   False  12258583
3  -87.624017919  0225      BATTERY   False  12258623
4  -87.748122241  1634        THEFT   False  12259515

In [14]:
start_date = "2021-01-01T00:00:00.000"
end_date = "2021-12-31T23:59:59.999"

dataset_identifier = "dwme-t96c"

query = f"date between '{start_date}' and '{end_date}'"

results = client.get(dataset_identifier, where=query, limit=500000)

client.close()

df_2021 = pd.DataFrame.from_records(results)

print(df_2021.head())

                      date  \
0  2021-12-31T23:59:00.000
1  2021-12-31T23:59:00.000
2  2021-12-31T23:58:00.000
3  2021-12-31T23:55:00.000
4  2021-12-31T23:50:00.000

                                                                                                                                                      location  \
0   {'latitude': '41.894327846', 'human_address': '{"address": "", "city": "", "state": "", "zip": ""}', 'needs_recoding': False, 'longitude': '-87.62814321'}
1                                                                                                                                                          NaN
2  {'latitude': '41.745680051', 'human_address': '{"address": "", "city": "", "state": "", "zip": ""}', 'needs_recoding': False, 'longitude': '-87.558851198'}
3   {'latitude': '41.734916889', 'human_address': '{"address": "", "city": "", "state": "", "zip": ""}', 'needs_recoding': False, 'longitude': '-87.66790905'}
4  {'latitude': '41.770713582', 'human_address': '{"address": "", "city": "", "state": "", "zip": ""}', 'needs_recoding': False, 'longitude': '-87.609358643'}

  district                  block y_coordinate      latitude  \
0      018       006XX N STATE ST      1904872  41.894327846
1      008        023XX W 64TH ST          NaN           NaN
2      004  082XX S MARQUETTE AVE      1850868  41.745680051
3      022        087XX S WOOD ST      1846697  41.734916889
4      003  068XX S CHAMPLAIN AVE      1859870  41.770713582

                description      location_description  \
0  LIQUOR LICENSE VIOLATION             HOTEL / MOTEL
1                 OVER $500  SCHOOL - PUBLIC BUILDING
2             HOME INVASION                 APARTMENT
3               TO PROPERTY                 RESIDENCE
4              TO RESIDENCE                 APARTMENT

                updated_on community_area  iucr x_coordinate ward case_number  \
0  2022-01-08T15:39:35.000              8  2250      1176247   42    JF103542
1  2022-02-05T15:40:37.000             66  0810          NaN   16    JF133671
2  2022-01-07T15:44:31.000             46  0650      1195601    7    JF100042
3  2022-01-07T15:44:31.000             71  1310      1165870   21    JF102969
4  2022-01-07T15:44:31.000             42  1365      1181741   20    JF100045

   year  domestic fbi_code      longitude  beat          primary_type  arrest  \
0  2021     False       22   -87.62814321  1832  LIQUOR LAW VIOLATION    True
1  2021     False       06            NaN  0825                 THEFT   False
2  2021      True       05  -87.558851198  0423              BURGLARY   False
3  2021     False       14   -87.66790905  2221       CRIMINAL DAMAGE   False
4  2021     False       26  -87.609358643  0321     CRIMINAL TRESPASS   False

         id
0  12584710
1  12609426
2  12581979
3  12584234
4  12581975

In [15]:
start_date = "2022-01-01T00:00:00.000"
end_date = "2022-12-31T23:59:59.999"

dataset_identifier = "9hwr-2zxp"

query = f"date between '{start_date}' and '{end_date}'"

results = client.get(dataset_identifier, where=query, limit=500000)

client.close()

df_2022 = pd.DataFrame.from_records(results)

print(df_2022.head())

                      date district                    block  \
0  2022-12-31T23:59:00.000      010        037XX W OGDEN AVE
1  2022-12-31T23:55:00.000      015         055XX W ADAMS ST
2  2022-12-31T23:50:00.000      024         014XX W LUNT AVE
3  2022-12-31T23:50:00.000      015  055XX W WASHINGTON BLVD
4  2022-12-31T23:47:00.000      022        091XX S LAFLIN ST

                     description             location_description  \
0                 NON-AGGRAVATED          MEDICAL / DENTAL OFFICE
1     RECKLESS FIREARM DISCHARGE  RESIDENCE - YARD (FRONT / BACK)
2                     AUTOMOBILE                            ALLEY
3        DOMESTIC BATTERY SIMPLE                        APARTMENT
4  UNLAWFUL POSSESSION - HANDGUN                        APARTMENT

                updated_on community_area  iucr ward case_number  year  \
0  2024-01-06T15:41:12.000             29  0281   24    JH105773  2022
1  2023-11-15T15:41:31.000             25  1477   29    JG202134  2022
2  2023-01-07T15:41:08.000              1  0910   49    JG100016  2022
3  2023-01-07T15:41:08.000             25  0486   29    JG100085  2022
4  2023-01-07T15:41:08.000             73  143A   21    JG100005  2022

   domestic fbi_code  beat             primary_type  arrest        id  \
0     False       02  1014  CRIMINAL SEXUAL ASSAULT   False  13330088
1     False       15  1522        WEAPONS VIOLATION   False  13024128
2     False       07  2431      MOTOR VEHICLE THEFT   False  12938337
3      True      08B  1523                  BATTERY   False  12938426
4     False       15  2221        WEAPONS VIOLATION    True  12938340

                                                                                                                                                      location  \
0                                                                                                                                                          NaN
1  {'latitude': '41.878373984', 'human_address': '{"address": "", "city": "", "state": "", "zip": ""}', 'needs_recoding': False, 'longitude': '-87.762731975'}
2  {'latitude': '42.009107852', 'human_address': '{"address": "", "city": "", "state": "", "zip": ""}', 'needs_recoding': False, 'longitude': '-87.666843608'}
3  {'latitude': '41.882256634', 'human_address': '{"address": "", "city": "", "state": "", "zip": ""}', 'needs_recoding': False, 'longitude': '-87.763744015'}
4   {'latitude': '41.72781203', 'human_address': '{"address": "", "city": "", "state": "", "zip": ""}', 'needs_recoding': False, 'longitude': '-87.660399127'}

  y_coordinate      latitude x_coordinate      longitude
0          NaN           NaN          NaN            NaN
1      1898786  41.878373984      1139642  -87.762731975
2      1946614  42.009107852      1165385  -87.666843608
3      1900199  41.882256634      1139357  -87.763744015
4      1844124   41.72781203      1167940  -87.660399127

In [16]:
start_date = "2023-01-01T00:00:00.000"

end_date = datetime.now().strftime("%Y-%m-%dT%H:%M:%S.000")

dataset_identifier = "xguy-4ndq"

query = f"date between '{start_date}' and '{end_date}'"

results = client.get(dataset_identifier, where=query, limit=1000000)

client.close()

df_2023= pd.DataFrame.from_records(results)

print(df_2023.head())

                      date  \
0  2023-12-31T23:59:00.000
1  2023-12-31T23:51:00.000
2  2023-12-31T23:51:00.000
3  2023-12-31T23:50:00.000
4  2023-12-31T23:50:00.000

                                                                                                                                                      location  \
0  {'latitude': '41.900698378', 'human_address': '{"address": "", "city": "", "state": "", "zip": ""}', 'needs_recoding': False, 'longitude': '-87.637329754'}
1  {'latitude': '41.754966726', 'human_address': '{"address": "", "city": "", "state": "", "zip": ""}', 'needs_recoding': False, 'longitude': '-87.602410989'}
2  {'latitude': '41.801583507', 'human_address': '{"address": "", "city": "", "state": "", "zip": ""}', 'needs_recoding': False, 'longitude': '-87.633177068'}
3  {'latitude': '41.800200965', 'human_address': '{"address": "", "city": "", "state": "", "zip": ""}', 'needs_recoding': False, 'longitude': '-87.691535096'}
4  {'latitude': '41.886815622', 'human_address': '{"address": "", "city": "", "state": "", "zip": ""}', 'needs_recoding': False, 'longitude': '-87.631523712'}

  district                  block y_coordinate      latitude  \
0      018     010XX N ORLEANS ST      1907173  41.900698378
1      006        009XX E 77TH ST      1854148  41.754966726
2      009  051XX S PRINCETON AVE      1871065  41.801583507
3      009  051XX S WASHTENAW AVE      1870437  41.800200965
4      001      001XX W WACKER DR      1902127  41.886815622

                           description location_description  \
0                           TO VEHICLE               STREET
1  AGGRAVATED - OTHER DANGEROUS WEAPON            APARTMENT
2  AGGRAVATED POLICE OFFICER - HANDGUN               STREET
3              DOMESTIC BATTERY SIMPLE            RESIDENCE
4                        FROM BUILDING        BAR OR TAVERN

                updated_on community_area  iucr x_coordinate ward case_number  \
0  2024-01-08T15:59:56.000              8  1320      1173727   27    JH103488
1  2024-01-08T15:59:56.000             69  0530      1183685    8    JH100010
2  2024-01-08T15:59:56.000             37  0550      1175152   20    JH100002
3  2024-01-08T15:59:56.000             63  0486      1159244   14    JH100006
4  2024-01-08T15:59:56.000             32  0890      1175349   42    JH102557

   year  domestic fbi_code      longitude  beat     primary_type  arrest  \
0  2023     False       14  -87.637329754  1823  CRIMINAL DAMAGE   False
1  2023      True      04A  -87.602410989  0624          ASSAULT   False
2  2023     False      04A  -87.633177068  0935          ASSAULT   False
3  2023      True      08B  -87.691535096  0923          BATTERY   False
4  2023     False       06  -87.631523712  0122            THEFT   False

         id
0  13327763
1  13324997
2  13325009
3  13324881
4  13327752

In [17]:
df_2014.columns

Index(['date', 'location', 'district', 'block', 'y_coordinate', 'latitude',
       'description', 'location_description', 'updated_on', 'community_area',
       'iucr', 'x_coordinate', 'ward', 'case_number', 'year', 'domestic',
       'fbi_code', 'longitude', 'beat', 'primary_type', 'arrest', 'id'],
      dtype='object')

In [36]:
def find_min_max_dates(dataframes):
    """
    Takes a list of pandas DataFrames, each with a 'date' column, and prints the min and max date for each.
    
    :param dataframes: List of pandas DataFrames
    """
    for df in dataframes:
        if 'date' in df.columns:
            df['date'] = pd.to_datetime(df['date'])
            min_date = df['date'].min()
            max_date = df['date'].max()
            print(f"Minimum Date: {min_date}, Maximum Date: {max_date}")
        else:
            print("DataFrame does not have a 'date' column")

In [18]:
dataframes_list = [df_2023, df_2022, df_2021, df_2020, df_2019, df_2018, df_2017, df_2016, df_2015, df_2014]

find_min_max_dates(dataframes_list)

NameError: name 'find_min_max_dates' is not defined

In [19]:
# Concatenate all DataFrames into one
crime_df = pd.concat(dataframes_list, ignore_index=True)

crime_df.head()

,date,location,district,block,y_coordinate,latitude,description,location_description,updated_on,community_area,iucr,x_coordinate,ward,case_number,year,domestic,fbi_code,longitude,beat,primary_type,arrest,id
0,2023-12-31T23:59:00.000,"{'latitude': '41.900698378', 'human_address': '{""address"": """", ""city"": """", ""state"": """", ""zip"": """"}', 'needs_recoding': False, 'longitude': '-87.637329754'}",018,010XX N ORLEANS ST,1907173,41.900698378,TO VEHICLE,STREET,2024-01-08T15:59:56.000,8,1320,1173727,27,JH103488,2023,False,14,-87.637329754,1823,CRIMINAL DAMAGE,False,13327763
1,2023-12-31T23:51:00.000,"{'latitude': '41.754966726', 'human_address': '{""address"": """", ""city"": """", ""state"": """", ""zip"": """"}', 'needs_recoding': False, 'longitude': '-87.602410989'}",006,009XX E 77TH ST,1854148,41.754966726,AGGRAVATED - OTHER DANGEROUS WEAPON,APARTMENT,2024-01-08T15:59:56.000,69,0530,1183685,8,JH100010,2023,True,04A,-87.602410989,0624,ASSAULT,False,13324997
2,2023-12-31T23:51:00.000,"{'latitude': '41.801583507', 'human_address': '{""address"": """", ""city"": """", ""state"": """", ""zip"": """"}', 'needs_recoding': False, 'longitude': '-87.633177068'}",009,051XX S PRINCETON AVE,1871065,41.801583507,AGGRAVATED POLICE OFFICER - HANDGUN,STREET,2024-01-08T15:59:56.000,37,0550,1175152,20,JH100002,2023,False,04A,-87.633177068,0935,ASSAULT,False,13325009
3,2023-12-31T23:50:00.000,"{'latitude': '41.800200965', 'human_address': '{""address"": """", ""city"": """", ""state"": """", ""zip"": """"}', 'needs_recoding': False, 'longitude': '-87.691535096'}",009,051XX S WASHTENAW AVE,1870437,41.800200965,DOMESTIC BATTERY SIMPLE,RESIDENCE,2024-01-08T15:59:56.000,63,0486,1159244,14,JH100006,2023,True,08B,-87.691535096,0923,BATTERY,False,13324881
4,2023-12-31T23:50:00.000,"{'latitude': '41.886815622', 'human_address': '{""address"": """", ""city"": """", ""state"": """", ""zip"": """"}', 'needs_recoding': False, 'longitude': '-87.631523712'}",001,001XX W WACKER DR,1902127,41.886815622,FROM BUILDING,BAR OR TAVERN,2024-01-08T15:59:56.000,32,0890,1175349,42,JH102557,2023,False,06,-87.631523712,0122,THEFT,False,13327752

In [20]:
crime_df.shape

(2530454, 22)

In [3]:
csv_file_path = "crime_2014_2023.csv"

# Export the DataFrame to a CSV file
crime_df.to_csv(csv_file_path, index=False)

NameError: name 'crime_df' is not defined

In [2]:
crime_df = pd.read_csv("/Users/rashidbaset/Documents/my-projects/crime-home-price-prediction-capstone/chicago-crime-property-analysis/crime_2014_2023.csv")

In [5]:
crime_df.shape

(2530216, 22)

In [5]:
import geopandas as gpd
from shapely.geometry import Point

crime_geometry = [Point(xy) for xy in zip(crime_df['longitude'], crime_df['latitude'])]

crime_df = gpd.GeoDataFrame(crime_df, geometry=crime_geometry, crs='EPSG:4326')

neighborhoods = gpd.read_file('/Users/rashidbaset/Documents/my-projects/crime-home-price-prediction-capstone/chicago-crime-property-analysis/boundries-chicago.geojson')

crime_df = gpd.sjoin(crime_df, neighborhoods, op='within')

/Users/rashidbaset/anaconda3/lib/python3.11/site-packages/IPython/core/interactiveshell.py:3466: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if await self.run_code(code, result, async_=asy):

In [6]:
neighborhood_categories = {
    "South Side": [
        "SOUTH SHORE", "AUBURN GRESHAM", "ROSELAND", "CHATHAM", "GREATER GRAND CROSSING",
        "SOUTH CHICAGO", "CHICAGO LAWN", "ENGLEWOOD", "WEST PULLMAN", "GARFIELD RIDGE",
        "ASHBURN", "AVALON PARK", "MORGAN PARK", "GRAND BOULEVARD", "WOODLAWN", "SOUTH LAWNDALE",
        "KENWOOD", "CALUMET HEIGHTS", "DOUGLAS", "GAGE PARK", "WEST ELSDON", "SOUTH DEERING",
        "HEGEWISCH", "AVALON PARK", "WASHINGTON PARK", "ARMOUR SQUARE", "PULLMAN", "OAKLAND",
        "FULLER PARK", "BURNSIDE", "RIVERDALE"
    ],
    "Southwest Side": [
        "CLEARING", "WEST LAWN", "WEST ELSDON", "GARFIELD RIDGE",
        "ARCHER HEIGHTS", "BRIGHTON PARK", "MCKINLEY PARK"
    ],
    "Far Southwest Side": [
        "MOUNT GREENWOOD", "BEVERLY", "WASHINGTON HEIGHTS"
    ],
    "Southeast Side": [
        "HEGEWISCH", "SOUTH DEERING"
    ],
    "Central": [
        "NEAR NORTH SIDE", "LAKE VIEW", "WEST TOWN", "LINCOLN PARK", "NEAR WEST SIDE", "LOOP", "LOGAN SQUARE",
        "EDGEWATER", "UPTOWN"
    ],
    "Far North Side": [
        "ROGERS PARK", "NORWOOD PARK", "DUNNING", "EDISON PARK", "NORTH PARK"
    ],
    "North Side": [
        "NORTH CENTER", "LAKE VIEW", "LINCOLN PARK", "EDGEWATER", "UPTOWN"
    ],
    "Northwest Side": [
        "PORTAGE PARK", "WEST RIDGE", "IRVING PARK", "ALBANY PARK", "JEFFERSON PARK", "MONTCLARE", "HERMOSA"
    ],
    "West Side": [
        "AUSTIN", "WEST ENGLEWOOD", "BELMONT CRAGIN", "HUMBOLDT PARK", "AVONDALE", "NEW CITY", "CLEARING",
        "NORTH LAWNDALE", "BRIDGEPORT", "MOUNT GREENWOOD", "FOREST GLEN", "SOUTH LAWNDALE", "KENWOOD",
        "OHARE", "LOWER WEST SIDE", "EAST GARFIELD PARK", "EAST SIDE", "WEST GARFIELD PARK", "CALUMET HEIGHTS",
        "DOUGLAS", "WEST ELSDON", "HEGEWISCH", "AVALON PARK", "MCKINLEY PARK", "HERMOSA", "WASHINGTON PARK",
        "ARMOUR SQUARE", "ARCHER HEIGHTS", "PULLMAN", "OAKLAND", "FULLER PARK", "BURNSIDE", "RIVERDALE"
    ]
}

crime_df['Neighborhood'] = crime_df['community'].apply(lambda x: next((k for k, v in neighborhood_categories.items() if x in v), 'Other'))

In [7]:
crime_df['date'] = pd.to_datetime(crime_df['date'])

In [8]:
crime_df = crime_df.drop('location', axis=1)

In [33]:
missing_values = crime_df.isnull().sum()

total_rows = len(crime_df)

percentage_missing = (missing_values / total_rows) * 100

missing_data_summary = pd.DataFrame({
    'Column Name': missing_values.index,
    'Missing Values': missing_values.values,
    'Percentage Missing': percentage_missing.values
})

print(missing_data_summary)

             Column Name  Missing Values  Percentage Missing
0                   date               0            0.000000
1               district               0            0.000000
2                  block               0            0.000000
3            description               0            0.000000
4   location_description            2079            0.416754
5             updated_on               0            0.000000
6         community_area               0            0.000000
7                   iucr               0            0.000000
8                   ward              13            0.002606
9            case_number               0            0.000000
10                  year               0            0.000000
11              domestic               0            0.000000
12              fbi_code               0            0.000000
13                  beat               0            0.000000
14          primary_type               0            0.000000
15                arrest               0            0.000000
16                    id               0            0.000000
17          y_coordinate            4296            0.861170
18              latitude            4296            0.861170
19          x_coordinate            4296            0.861170
20             longitude            4296            0.861170

### Scraping Property Data From Realtor.com

In [17]:
from homeharvest import scrape_property
from datetime import datetime, timedelta
import pandas as pd
import time
from requests.exceptions import HTTPError

dataframes_list = []
start_date = datetime.now() - timedelta(days=365 * 10)  # 10 years ago
end_date = datetime.now()
date_range = (end_date - start_date).days
segments = 120  
days_per_request = date_range // segments
max_retries = 5
retry_delay = 10  # seconds

for i in range(segments):
    date_from = start_date + timedelta(days=i * days_per_request)
    date_to = date_from + timedelta(days=days_per_request - 1)

    for attempt in range(max_retries):
        try:
            fetched_df = scrape_property(
                location="Chicago, IL",
                listing_type="sold",
                date_from=date_from.strftime("%Y-%m-%d"),
                date_to=date_to.strftime("%Y-%m-%d")
            )
            print(f"Segment {i+1}, Dates: {date_from.strftime('%Y-%m-%d')} to {date_to.strftime('%Y-%m-%d')}, Number of properties: {len(fetched_df)}")
            dataframes_list.append(fetched_df)
            break  # If the request is successful, break out of the retry loop
        except HTTPError as e:
            print(f"HTTP error on attempt {attempt + 1} of {max_retries}: {e}")
            if attempt < max_retries - 1:
                time.sleep(retry_delay)  # Wait before retrying
            else:
                raise  # Re-raise the last exception if all retries fail

combined_df = pd.concat(dataframes_list, ignore_index=True)

print(f"Total Number of properties: {len(combined_df)}")

filename = "HomeHarvest_Chicago_10Years_2.csv"
combined_df.to_csv(filename, index=False)

Segment 1, Dates: 2014-01-13 to 2014-02-11, Number of properties: 1583
Segment 2, Dates: 2014-02-12 to 2014-03-13, Number of properties: 1509
Segment 3, Dates: 2014-03-14 to 2014-04-12, Number of properties: 2148
Segment 4, Dates: 2014-04-13 to 2014-05-12, Number of properties: 1871
Segment 5, Dates: 2014-05-13 to 2014-06-11, Number of properties: 1992
Segment 6, Dates: 2014-06-12 to 2014-07-11, Number of properties: 1750
Segment 7, Dates: 2014-07-12 to 2014-08-10, Number of properties: 1499
Segment 8, Dates: 2014-08-11 to 2014-09-09, Number of properties: 1860
Segment 9, Dates: 2014-09-10 to 2014-10-09, Number of properties: 2552
Segment 10, Dates: 2014-10-10 to 2014-11-08, Number of properties: 1765
Segment 11, Dates: 2014-11-09 to 2014-12-08, Number of properties: 1607
Segment 12, Dates: 2014-12-09 to 2015-01-07, Number of properties: 1637
Segment 13, Dates: 2015-01-08 to 2015-02-06, Number of properties: 1381
Segment 14, Dates: 2015-02-07 to 2015-03-08, Number of properties: 1253
Segment 15, Dates: 2015-03-09 to 2015-04-07, Number of properties: 1629
Segment 16, Dates: 2015-04-08 to 2015-05-07, Number of properties: 1810
Segment 17, Dates: 2015-05-08 to 2015-06-06, Number of properties: 1903
Segment 18, Dates: 2015-06-07 to 2015-07-06, Number of properties: 2111
Segment 19, Dates: 2015-07-07 to 2015-08-05, Number of properties: 2394
Segment 20, Dates: 2015-08-06 to 2015-09-04, Number of properties: 2574
Segment 21, Dates: 2015-09-05 to 2015-10-04, Number of properties: 2157
Segment 22, Dates: 2015-10-05 to 2015-11-03, Number of properties: 2057
Segment 23, Dates: 2015-11-04 to 2015-12-03, Number of properties: 1678
Segment 24, Dates: 2015-12-04 to 2016-01-02, Number of properties: 1679
Segment 25, Dates: 2016-01-03 to 2016-02-01, Number of properties: 1592
Segment 26, Dates: 2016-02-02 to 2016-03-02, Number of properties: 1477
Segment 27, Dates: 2016-03-03 to 2016-04-01, Number of properties: 1649
Segment 28, Dates: 2016-04-02 to 2016-05-01, Number of properties: 2058
Segment 29, Dates: 2016-05-02 to 2016-05-31, Number of properties: 2455
Segment 30, Dates: 2016-06-01 to 2016-06-30, Number of properties: 2628
Segment 31, Dates: 2016-07-01 to 2016-07-30, Number of properties: 2545
Segment 32, Dates: 2016-07-31 to 2016-08-29, Number of properties: 2470
Segment 33, Dates: 2016-08-30 to 2016-09-28, Number of properties: 2222
Segment 34, Dates: 2016-09-29 to 2016-10-28, Number of properties: 2248
Segment 35, Dates: 2016-10-29 to 2016-11-27, Number of properties: 1696
Segment 36, Dates: 2016-11-28 to 2016-12-27, Number of properties: 2182
Segment 37, Dates: 2016-12-28 to 2017-01-26, Number of properties: 1818
Segment 38, Dates: 2017-01-27 to 2017-02-25, Number of properties: 1627
Segment 39, Dates: 2017-02-26 to 2017-03-27, Number of properties: 2000
Segment 40, Dates: 2017-03-28 to 2017-04-26, Number of properties: 2501
Segment 41, Dates: 2017-04-27 to 2017-05-26, Number of properties: 2807
Segment 42, Dates: 2017-05-27 to 2017-06-25, Number of properties: 2989
Segment 43, Dates: 2017-06-26 to 2017-07-25, Number of properties: 2409
Segment 44, Dates: 2017-07-26 to 2017-08-24, Number of properties: 2126
Segment 45, Dates: 2017-08-25 to 2017-09-23, Number of properties: 2251
Segment 46, Dates: 2017-09-24 to 2017-10-23, Number of properties: 2174
Segment 47, Dates: 2017-10-24 to 2017-11-22, Number of properties: 1987
Segment 48, Dates: 2017-11-23 to 2017-12-22, Number of properties: 2035
Segment 49, Dates: 2017-12-23 to 2018-01-21, Number of properties: 1437
Segment 50, Dates: 2018-01-22 to 2018-02-20, Number of properties: 1461
Segment 51, Dates: 2018-02-21 to 2018-03-22, Number of properties: 2026
Segment 52, Dates: 2018-03-23 to 2018-04-21, Number of properties: 2110
Segment 53, Dates: 2018-04-22 to 2018-05-21, Number of properties: 2671
Segment 54, Dates: 2018-05-22 to 2018-06-20, Number of properties: 3292
Segment 55, Dates: 2018-06-21 to 2018-07-20, Number of properties: 3508
Segment 56, Dates: 2018-07-21 to 2018-08-19, Number of properties: 2957
Segment 57, Dates: 2018-08-20 to 2018-09-18, Number of properties: 2885
Segment 58, Dates: 2018-09-19 to 2018-10-18, Number of properties: 2788
Segment 59, Dates: 2018-10-19 to 2018-11-17, Number of properties: 2592
Segment 60, Dates: 2018-11-18 to 2018-12-17, Number of properties: 2275
Segment 61, Dates: 2018-12-18 to 2019-01-16, Number of properties: 2325
Segment 62, Dates: 2019-01-17 to 2019-02-15, Number of properties: 1932
Segment 63, Dates: 2019-02-16 to 2019-03-17, Number of properties: 2149
Segment 64, Dates: 2019-03-18 to 2019-04-16, Number of properties: 2769
Segment 65, Dates: 2019-04-17 to 2019-05-16, Number of properties: 3300
Segment 66, Dates: 2019-05-17 to 2019-06-15, Number of properties: 3382
Segment 67, Dates: 2019-06-16 to 2019-07-15, Number of properties: 3247
Segment 68, Dates: 2019-07-16 to 2019-08-14, Number of properties: 3371
Segment 69, Dates: 2019-08-15 to 2019-09-13, Number of properties: 3464
Segment 70, Dates: 2019-09-14 to 2019-10-13, Number of properties: 2690
Segment 71, Dates: 2019-10-14 to 2019-11-12, Number of properties: 2616
Segment 72, Dates: 2019-11-13 to 2019-12-12, Number of properties: 2633
Segment 73, Dates: 2019-12-13 to 2020-01-11, Number of properties: 2136
Segment 74, Dates: 2020-01-12 to 2020-02-10, Number of properties: 2127
Segment 75, Dates: 2020-02-11 to 2020-03-11, Number of properties: 2537
Segment 76, Dates: 2020-03-12 to 2020-04-10, Number of properties: 2026
Segment 77, Dates: 2020-04-11 to 2020-05-10, Number of properties: 1925
Segment 78, Dates: 2020-05-11 to 2020-06-09, Number of properties: 959
Segment 79, Dates: 2020-06-10 to 2020-07-09, Number of properties: 1826
Segment 80, Dates: 2020-07-10 to 2020-08-08, Number of properties: 2608
Segment 81, Dates: 2020-08-09 to 2020-09-07, Number of properties: 1749
Segment 82, Dates: 2020-09-08 to 2020-10-07, Number of properties: 2587
Segment 83, Dates: 2020-10-08 to 2020-11-06, Number of properties: 5707
Segment 84, Dates: 2020-11-07 to 2020-12-06, Number of properties: 2358
Segment 85, Dates: 2020-12-07 to 2021-01-05, Number of properties: 2817
Segment 86, Dates: 2021-01-06 to 2021-02-04, Number of properties: 4407
Segment 87, Dates: 2021-02-05 to 2021-03-06, Number of properties: 3028
Segment 88, Dates: 2021-03-07 to 2021-04-05, Number of properties: 3836
Segment 89, Dates: 2021-04-06 to 2021-05-05, Number of properties: 5286
Segment 90, Dates: 2021-05-06 to 2021-06-04, Number of properties: 4969
Segment 91, Dates: 2021-06-05 to 2021-07-04, Number of properties: 4039
Segment 92, Dates: 2021-07-05 to 2021-08-03, Number of properties: 5438
Segment 93, Dates: 2021-08-04 to 2021-09-02, Number of properties: 5759
Segment 94, Dates: 2021-09-03 to 2021-10-02, Number of properties: 4299
Segment 95, Dates: 2021-10-03 to 2021-11-01, Number of properties: 4145
Segment 96, Dates: 2021-11-02 to 2021-12-01, Number of properties: 3838
Segment 97, Dates: 2021-12-02 to 2021-12-31, Number of properties: 3347
Segment 98, Dates: 2022-01-01 to 2022-01-30, Number of properties: 3015
Segment 99, Dates: 2022-01-31 to 2022-03-01, Number of properties: 3942
Segment 100, Dates: 2022-03-02 to 2022-03-31, Number of properties: 4501
Segment 101, Dates: 2022-04-01 to 2022-04-30, Number of properties: 4846
Segment 102, Dates: 2022-05-01 to 2022-05-30, Number of properties: 4450
Segment 103, Dates: 2022-05-31 to 2022-06-29, Number of properties: 4825
Segment 104, Dates: 2022-06-30 to 2022-07-29, Number of properties: 4212
Segment 105, Dates: 2022-07-30 to 2022-08-28, Number of properties: 3329
Segment 106, Dates: 2022-08-29 to 2022-09-27, Number of properties: 3154
Segment 107, Dates: 2022-09-28 to 2022-10-27, Number of properties: 2877
Segment 108, Dates: 2022-10-28 to 2022-11-26, Number of properties: 2418
Segment 109, Dates: 2022-11-27 to 2022-12-26, Number of properties: 2342
Segment 110, Dates: 2022-12-27 to 2023-01-25, Number of properties: 2014
Segment 111, Dates: 2023-01-26 to 2023-02-24, Number of properties: 1953
Segment 112, Dates: 2023-02-25 to 2023-03-26, Number of properties: 2669
Segment 113, Dates: 2023-03-27 to 2023-04-25, Number of properties: 3204
Segment 114, Dates: 2023-04-26 to 2023-05-25, Number of properties: 3148
Segment 115, Dates: 2023-05-26 to 2023-06-24, Number of properties: 2638
Segment 116, Dates: 2023-06-25 to 2023-07-24, Number of properties: 2956
Segment 117, Dates: 2023-07-25 to 2023-08-23, Number of properties: 2425
Segment 118, Dates: 2023-08-24 to 2023-09-22, Number of properties: 2325
Segment 119, Dates: 2023-09-23 to 2023-10-22, Number of properties: 1874
Segment 120, Dates: 2023-10-23 to 2023-11-21, Number of properties: 1942
Total Number of properties: 315037

In [8]:
property_df = pd.read_csv("HomeHarvest_Chicago_10years.csv")

/var/folders/pp/77rpffxd5pl6p9fys4m6t7y00000gn/T/ipykernel_18745/3074681795.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  property_df = pd.read_csv("HomeHarvest_Chicago_10years.csv")

In [5]:
#columns_to_remove = ['primary_photo', 'alt_photos', 'mls', 'status', 'unit', 'city', 'state']

#property_df = property_df.drop(columns=columns_to_remove)

KeyError: "['primary_photo', 'alt_photos', 'mls', 'status', 'unit', 'city', 'state'] not found in axis"

#### List date

In [ ]:
property_df['list_date'] = pd.to_datetime(property_df['list_date'], errors='coerce')
property_df['list_year'] = property_df['list_date'].dt.year
missing_data_by_year = property_df.groupby('list_year')['list_date'].apply(lambda x: x.isnull().mean()).reset_index()
missing_data_by_year.columns = ['list_year', 'percentage_missing']
print(missing_data_by_year)

In [ ]:
# Check the 'list_year' values for rows with missing 'list_date'
missing_list_date_rows = property_df[property_df['list_date'].isnull()]
print(missing_list_date_rows['list_year'].unique())

In [ ]:
property_df['list_date'] = pd.to_datetime(property_df['list_date'], errors='coerce')
property_df['list_year'] = property_df['list_date'].dt.year

# Filter out rows with missing 'list_date' values
property_df_filtered = property_df[~property_df['list_date'].isnull()]

missing_data_by_year = property_df_filtered.groupby('list_year')['list_date'].apply(lambda x: x.isnull().mean())
missing_data_by_year = missing_data_by_year.reset_index()
missing_data_by_year.columns = ['list_year', 'percentage_missing']
print(missing_data_by_year)

In [ ]:
property_df['list_date'] = pd.to_datetime(property_df['list_date'], errors='coerce')
property_df['list_year'] = property_df['list_date'].dt.year

# Group by 'list_year' and calculate the percentage of NaN values in 'list_date' for each year
missing_data_by_year = property_df.groupby('list_year')['list_date'].apply(lambda x: x.isnull().mean() * 100)
missing_data_by_year = missing_data_by_year.reset_index()
missing_data_by_year.columns = ['list_year', 'percentage_missing']
print(missing_data_by_year)

In [ ]:
import pandas as pd

# Assuming property_df is your DataFrame
property_df['list_date'] = pd.to_datetime(property_df['list_date'], errors='coerce')

# Set display option to show all rows
pd.set_option('display.max_rows', None)

# Calculate the percentage of missing values for each community in 'list_date'
percent_missing_by_community = property_df.groupby('community')['list_date'].apply(lambda x: x.isna().sum() * 100 / len(x)).reset_index()
percent_missing_by_community.columns = ['community', 'percent_missing']

# Sort the DataFrame by 'percent_missing'
percent_missing_by_community.sort_values('percent_missing', inplace=True)

# Reset display option to default
pd.reset_option('display.max_rows')

print(percent_missing_by_community)

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Assuming property_df is your DataFrame
property_df['list_date'] = pd.to_datetime(property_df['list_date'], errors='coerce')
property_df['last_sold_date'] = pd.to_datetime(property_df['last_sold_date'], errors='coerce')

# Calculate the percentage of missing 'list_date' values based on the year from 'last_sold_date'
property_df['list_year'] = property_df.apply(lambda row: row['last_sold_date'].year if pd.notna(row['last_sold_date']) else None, axis=1)
percent_missing_by_year = property_df.groupby('list_year')['list_date'].apply(lambda x: x.isna().sum() * 100 / len(x)).reset_index()
percent_missing_by_year.columns = ['list_year', 'percent_missing']

# Sort the DataFrame by 'list_year'
percent_missing_by_year.sort_values('list_year', inplace=True)

# Create a bar graph
plt.figure(figsize=(10, 6))
plt.bar(percent_missing_by_year['list_year'], percent_missing_by_year['percent_missing'])
plt.xlabel('Year')
plt.ylabel('Percentage Missing')
plt.title('Percentage of Missing list_date Values by Year')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Assuming property_df is your DataFrame
property_df['list_date'] = pd.to_datetime(property_df['list_date'], errors='coerce')

# Calculate the percentage of missing values for each 'style' category in 'list_date'
percent_missing_by_style = property_df.groupby('style')['list_date'].apply(lambda x: x.isna().sum() * 100 / len(x)).reset_index()
percent_missing_by_style.columns = ['style', 'percent_missing']

# Sort the DataFrame by 'percent_missing'
percent_missing_by_style.sort_values('percent_missing', inplace=True)

# Create a bar graph
plt.figure(figsize=(12, 6))
sns.barplot(x='percent_missing', y='style', data=percent_missing_by_style)
plt.xlabel('Percentage Missing')
plt.ylabel('Style')
plt.title('Percentage of Missing list_date Values by Style')
plt.tight_layout()
plt.show()

In [ ]:
import pandas as pd

# Assuming property_df is your DataFrame
property_df['list_date'] = pd.to_datetime(property_df['list_date'], errors='coerce')

# Filter the DataFrame for the specified styles
selected_styles = ['condos', 'CONDO_TOWNHOME_ROWHOME_COOP', 'FARM', 'MOBILE']
filtered_df = property_df[property_df['style'].isin(selected_styles)]

# Calculate the percentage of missing 'list_date' values for each selected style
percent_missing_by_style = filtered_df.groupby('style')['list_date'].apply(lambda x: x.isna().sum() * 100 / len(x)).reset_index()
percent_missing_by_style.columns = ['style', 'percent_missing']

# Print the result
print(percent_missing_by_style)

In [ ]:
import pandas as pd

# Assuming property_df is your DataFrame
selected_styles = ['CONDOS', 'CONDO_TOWNHOME_ROWHOME_COOP', 'FARM', 'MOBILE']

# Calculate the percentage for each selected style
style_percentages = {}
for style in selected_styles:
    percentage = (property_df['style'] == style).sum() * 100 / len(property_df)
    style_percentages[style] = percentage

# Print the percentages for each style
for style, percentage in style_percentages.items():
    print(f"Percentage of 'style' values that are '{style}': {percentage:.2f}%")

In [ ]:
import pandas as pd

# Assuming property_df is your DataFrame
property_df['lot_sqft_missing'] = property_df['lot_sqft'].isnull()
property_df['sold_price_category'] = pd.cut(property_df['sold_price'], bins=[0, 500000, 1000000, 1500000, float('inf')], labels=['<500K', '500K-1M', '1M-1.5M', '1.5M+'])

# Calculate the percentage of missing 'lot_sqft' values for each sold_price category
percentage_missing_by_price = property_df.groupby('sold_price_category')['lot_sqft_missing'].mean() * 100

print(percentage_missing_by_price)

In [ ]:
import pandas as pd

# Assuming property_df is your DataFrame
property_df['lot_sqft_missing'] = property_df['lot_sqft'].isnull()
property_df['sqft_missing'] = property_df['sqft'].isnull()

# Calculate the percentage of rows with missing 'lot_sqft' that also have missing 'sqft'
percentage_lot_sqft_missing_with_sqft = (property_df['lot_sqft_missing'] & property_df['sqft_missing']).mean() * 100

# Calculate the percentage of rows with missing 'sqft' that also have missing 'lot_sqft'
percentage_sqft_missing_with_lot_sqft = (property_df['sqft_missing'] & property_df['lot_sqft_missing']).mean() * 100

print(f"Percentage of rows missing 'lot_sqft' with missing 'sqft': {percentage_lot_sqft_missing_with_sqft:.2f}%")
print(f"Percentage of rows missing 'sqft' with missing 'lot_sqft': {percentage_sqft_missing_with_lot_sqft:.2f}%")

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Assuming property_df is your DataFrame
property_df['lot_sqft'] = pd.to_numeric(property_df['lot_sqft'], errors='coerce')
property_df['sqft'] = pd.to_numeric(property_df['sqft'], errors='coerce')

property_df['list_year'] = property_df.apply(lambda row: row['last_sold_date'].year if pd.notna(row['last_sold_date']) else None, axis=1)
percent_missing_lot_sqft_by_year = property_df.groupby('list_year')['lot_sqft'].apply(lambda x: x.isna().mean() * 100).reset_index()
percent_missing_sqft_by_year = property_df.groupby('list_year')['sqft'].apply(lambda x: x.isna().mean() * 100).reset_index()

plt.figure(figsize=(10, 6))
plt.bar(percent_missing_lot_sqft_by_year['list_year'], percent_missing_lot_sqft_by_year['lot_sqft'], label='lot_sqft')
plt.bar(percent_missing_sqft_by_year['list_year'], percent_missing_sqft_by_year['sqft'], label='sqft', alpha=0.7)
plt.xlabel('Year')
plt.ylabel('Percentage Missing')
plt.title('Percentage of Missing lot_sqft and sqft Values by Year')
plt.xticks(rotation=45)
plt.legend()
plt.tight_layout()
plt.show()

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Assuming property_df is your DataFrame
property_df['lot_sqft'] = pd.to_numeric(property_df['lot_sqft'], errors='coerce')
property_df['sqft'] = pd.to_numeric(property_df['sqft'], errors='coerce')

# Calculate the percentage of missing values for each 'style' category in 'lot_sqft'
percent_missing_lot_sqft_by_style = property_df.groupby('style')['lot_sqft'].apply(lambda x: x.isna().mean() * 100).reset_index()
percent_missing_lot_sqft_by_style.columns = ['style', 'percent_missing_lot_sqft']

# Calculate the percentage of missing values for each 'style' category in 'sqft'
percent_missing_sqft_by_style = property_df.groupby('style')['sqft'].apply(lambda x: x.isna().mean() * 100).reset_index()
percent_missing_sqft_by_style.columns = ['style', 'percent_missing_sqft']

# Merge the two DataFrames on 'style'
percent_missing_by_style = pd.merge(percent_missing_lot_sqft_by_style, percent_missing_sqft_by_style, on='style')

# Create a bar graph for 'lot_sqft'
plt.figure(figsize=(12, 6))
sns.barplot(x='percent_missing_lot_sqft', y='style', data=percent_missing_by_style)
plt.xlabel('Percentage Missing lot_sqft')
plt.ylabel('Style')
plt.title('Percentage of Missing lot_sqft Values by Style')
plt.tight_layout()
plt.show()

# Create a bar graph for 'sqft'
plt.figure(figsize=(12, 6))
sns.barplot(x='percent_missing_sqft', y='style', data=percent_missing_by_style)
plt.xlabel('Percentage Missing sqft')
plt.ylabel('Style')
plt.title('Percentage of Missing sqft Values by Style')
plt.tight_layout()
plt.show()

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Assuming property_df is your DataFrame
property_df['hoa_fee'] = pd.to_numeric(property_df['hoa_fee'], errors='coerce')

# Calculate the percentage of missing values for each 'style' category in 'hoa_fee'
percent_missing_hoa_fee_by_style = property_df.groupby('style')['hoa_fee'].apply(lambda x: x.isna().mean() * 100).reset_index()
percent_missing_hoa_fee_by_style.columns = ['style', 'percent_missing_hoa_fee']

# Sort the DataFrame by 'percent_missing_hoa_fee'
percent_missing_hoa_fee_by_style.sort_values('percent_missing_hoa_fee', inplace=True)

# Create a bar graph
plt.figure(figsize=(12, 6))
sns.barplot(x='percent_missing_hoa_fee', y='style', data=percent_missing_hoa_fee_by_style)
plt.xlabel('Percentage Missing HOA Fee')
plt.ylabel('Style')
plt.title('Percentage of Missing HOA Fee Values by Style')
plt.tight_layout()
plt.show()

In [ ]:
# Assuming property_df is your DataFrame
property_df['list_date_missing'] = property_df['list_date'].isnull()
property_df['list_price_missing'] = property_df['list_price'].isnull()

# Calculate the percentage of rows with missing 'list_date' that also have missing 'list_price'
percentage_list_date_missing_with_list_price = (property_df['list_date_missing'] & property_df['list_price_missing']).mean() * 100

# Calculate the percentage of rows with missing 'list_price' that also have missing 'list_date'
percentage_list_price_missing_with_list_date = (property_df['list_price_missing'] & property_df['list_date_missing']).mean() * 100

print(f"Percentage of rows missing 'list_date' with missing 'list_price': {percentage_list_date_missing_with_list_price:.2f}%")
print(f"Percentage of rows missing 'list_price' with missing 'list_date': {percentage_list_price_missing_with_list_date:.2f}%")

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Assuming property_df is your DataFrame
property_df['price_per_sqft'] = pd.to_numeric(property_df['price_per_sqft'], errors='coerce')

# Calculate the percentage of missing values in 'price_per_sqft'
percent_missing_price_per_sqft = (property_df['price_per_sqft'].isnull().mean()) * 100

# Create a bar chart to visualize the percentage of missing values
plt.figure(figsize=(6, 4))
plt.bar(['price_per_sqft'], [percent_missing_price_per_sqft])
plt.xlabel('Column')
plt.ylabel('Percentage Missing')
plt.title('Percentage of Missing price_per_sqft Values')
plt.ylim(0, 100)
plt.tight_layout()
plt.show()

print(f"Percentage of missing 'price_per_sqft' values: {percent_missing_price_per_sqft:.2f}%")

In [7]:
property_df.head(5)

,property_url,mls_id,style,street,zip_code,beds,full_baths,half_baths,sqft,year_built,...,community,area,shape_area,perimeter,area_num_1,area_numbe,comarea_id,comarea,shape_len,neighborhood
0,https://www.realtor.com/realestateandhomes-det...,8326275.0,SINGLE_FAMILY,8548 S Bishop St,60620.0,3,1,-1,1350,1890,...,AUBURN GRESHAM,0,1.050654e+08,0,71,71,0,0,46757.721716,AUBURN GRESHAM
1,https://www.realtor.com/realestateandhomes-det...,NaN,SINGLE_FAMILY,7716 S Aberdeen St,60620.0,3,1,-1,1300,1916,...,AUBURN GRESHAM,0,1.050654e+08,0,71,71,0,0,46757.721716,AUBURN GRESHAM
2,https://www.realtor.com/realestateandhomes-det...,8401495.0,SINGLE_FAMILY,7837 S Wolcott Ave,60620.0,3,1,1,692,1951,...,AUBURN GRESHAM,0,1.050654e+08,0,71,71,0,0,46757.721716,AUBURN GRESHAM
3,https://www.realtor.com/realestateandhomes-det...,8530200.0,MULTI_FAMILY,7807 S Sangamon St,60620.0,7,2,-1,-1,-1,...,AUBURN GRESHAM,0,1.050654e+08,0,71,71,0,0,46757.721716,AUBURN GRESHAM
4,https://www.realtor.com/realestateandhomes-det...,8461738.0,SINGLE_FAMILY,7541 S Aberdeen St,60620.0,2,1,1,1437,1922,...,AUBURN GRESHAM,0,1.050654e+08,0,71,71,0,0,46757.721716,AUBURN GRESHAM

In [16]:
property_df.dtypes

property_url       object
mls                object
mls_id             object
status             object
style              object
street             object
unit               object
city               object
state              object
zip_code           object
beds               object
full_baths         object
half_baths         object
sqft               object
year_built         object
days_on_mls        object
list_price         object
list_date          object
sold_price          int64
last_sold_date     object
lot_sqft           object
price_per_sqft     object
latitude          float64
longitude         float64
stories            object
hoa_fee            object
parking_garage     object
primary_photo      object
alt_photos         object
dtype: object

In [9]:
property_df['last_sold_date'] = pd.to_datetime(property_df['last_sold_date'])
property_df['list_date'] = pd.to_datetime(property_df['list_date'])

In [22]:
num_duplicates = property_df.duplicated().sum()

print("Number of Duplicate Rows:", num_duplicates)

Number of Duplicate Rows: 193

In [23]:
missing_values = property_df.isnull().sum()

total_rows = len(property_df)

percentage_missing = (missing_values / total_rows) * 100

missing_data_summary = pd.DataFrame({
    'Column Name': missing_values.index,
    'Missing Values': missing_values.values,
    'Percentage Missing': percentage_missing.values
})

print(missing_data_summary)

       Column Name  Missing Values  Percentage Missing
0     property_url               0            0.000000
1              mls          148374           47.097325
2           mls_id          148374           47.097325
3           status               0            0.000000
4            style             475            0.150776
5           street               0            0.000000
6             unit          147431           46.797995
7             city               0            0.000000
8            state               0            0.000000
9         zip_code               7            0.002222
10            beds           90308           28.665839
11      full_baths           82817           26.288023
12      half_baths          253277           80.395953
13            sqft          133288           42.308681
14      year_built          103891           32.977396
15     days_on_mls          193895           61.546739
16      list_price          148470           47.127798
17       list_date          148374           47.097325
18      sold_price               4            0.001270
19  last_sold_date               0            0.000000
20        lot_sqft          168958           53.631161
21  price_per_sqft          135450           42.994950
22        latitude             881            0.279650
23       longitude             881            0.279650
24         stories          132193           41.961103
25         hoa_fee          214022           67.935512
26  parking_garage          142628           45.273412
27   primary_photo               0            0.000000
28      alt_photos               0            0.000000

#### Feature engineer column specifying neighborhood using spacial join

In [12]:
import geopandas as gpd

# Load neighborhood boundaries data
neighborhoods = gpd.read_file('boundries-chicago.geojson')

property_df['geometry'] = gpd.points_from_xy(property_df['longitude'], property_df['latitude'])
property_df = gpd.GeoDataFrame(property_df, geometry='geometry', crs='EPSG:4326')

# Perform a spatial join
property_df = gpd.sjoin(property_df, neighborhoods, op='within')

ValueError: 'index_left' and 'index_right' cannot be names in the frames being joined

In [11]:
# Combine South Side neighborhoods
south_side = south_side_neighborhoods + southwest_side_neighborhoods + far_southwest_side_neighborhoods + southeast_side_neighborhoods

# Combine Central, North, and West Side neighborhoods
central_north_west = central + far_north_side + north_side + northwest_side + west_side

In [22]:
property_df.head(5)

,style,beds,sqft,year_built,days_on_mls,sold_price,last_sold_date,latitude,longitude,community,neighborhood
0,SINGLE_FAMILY,3,1350,1890,292,10155.0,2014-02-11,41.737989,-87.659826,AUBURN GRESHAM,AUBURN GRESHAM
1,SINGLE_FAMILY,3,1300,1916,-1,57000.0,2014-02-10,41.753629,-87.651748,AUBURN GRESHAM,AUBURN GRESHAM
2,SINGLE_FAMILY,3,692,1951,202,37000.0,2014-02-10,41.750975,-87.670384,AUBURN GRESHAM,AUBURN GRESHAM
3,MULTI_FAMILY,7,-1,-1,2,175000.0,2014-02-06,41.752159,-87.647356,AUBURN GRESHAM,AUBURN GRESHAM
4,SINGLE_FAMILY,2,1437,1922,122,21000.0,2014-02-06,41.756438,-87.651120,AUBURN GRESHAM,AUBURN GRESHAM

In [12]:
total_rows = len(property_df)

south_side_rows = property_df[property_df['community'].isin(south_side)]
south_side_percentage = (len(south_side_rows) / total_rows) * 100

central_north_west_rows = property_df[property_df['community'].isin(central_north_west)]
central_north_west_percentage = (len(central_north_west_rows) / total_rows) * 100

print(f"Percentage of rows in South Side: {south_side_percentage:.2f}%")
print(f"Percentage of rows in Central North West: {central_north_west_percentage:.2f}%")

Percentage of rows in South Side: 23.84%
Percentage of rows in Central North West: 76.94%

In [13]:
def calculate_neighborhood_percentages(property_df, neighborhood_groups):
    total_rows = len(property_df)
    
    for group_name, neighborhood_list in neighborhood_groups.items():
        group_rows = property_df[property_df['community'].isin(neighborhood_list)]
        
        group_percentage = (len(group_rows) / total_rows) * 100
        
        print(f"Percentage of rows in {group_name}: {group_percentage:.2f}%")

neighborhood_groups = {
    "South Side Neighborhoods": south_side_neighborhoods,
    "Southwest Side Neighborhoods": southwest_side_neighborhoods,
    "Far Southwest Side Neighborhoods": far_southwest_side_neighborhoods,
    "Southeast Side Neighborhoods": southeast_side_neighborhoods,
    "Central": central,
    "Far North Side": far_north_side,
    "North Side": north_side,
    "Northwest Side": northwest_side,
    "West Side": west_side
}

calculate_neighborhood_percentages(property_df, neighborhood_groups)

Percentage of rows in South Side Neighborhoods: 18.43%
Percentage of rows in Southwest Side Neighborhoods: 4.74%
Percentage of rows in Far Southwest Side Neighborhoods: 2.35%
Percentage of rows in Southeast Side Neighborhoods: 0.70%
Percentage of rows in Central: 41.05%
Percentage of rows in Far North Side: 5.93%
Percentage of rows in North Side: 18.01%
Percentage of rows in Northwest Side: 8.75%
Percentage of rows in West Side: 19.64%

In [8]:
crime_df.columns

Index(['date', 'location', 'district', 'block', 'y_coordinate', 'latitude',
       'description', 'location_description', 'updated_on', 'community_area',
       'iucr', 'x_coordinate', 'ward', 'case_number', 'year', 'domestic',
       'fbi_code', 'longitude', 'beat', 'primary_type', 'arrest', 'id',
       'geometry', 'index_right', 'community', 'area', 'shape_area',
       'perimeter', 'area_num_1', 'area_numbe', 'comarea_id', 'comarea',
       'shape_len', 'Neighborhood'],
      dtype='object')

In [13]:
crime_df.head(5)

,date,location,district,block,y_coordinate,latitude,description,location_description,updated_on,community_area,...,community,area,shape_area,perimeter,area_num_1,area_numbe,comarea_id,comarea,shape_len,Neighborhood
0,2023-12-31 23:59:00,"{'latitude': '41.900698378', 'human_address': ...",18.0,010XX N ORLEANS ST,1907173.0,41.900698,TO VEHICLE,STREET,2024-01-08T15:59:56.000,8.0,...,NEAR NORTH SIDE,0,76675895.9728,0,8,8,0,0,57293.1649516,Central
8,2023-12-31 23:40:00,"{'latitude': '41.892753031', 'human_address': ...",18.0,006XX N MICHIGAN AVE,1904307.0,41.892753,AUTOMOBILE,STREET,2024-01-08T15:59:56.000,8.0,...,NEAR NORTH SIDE,0,76675895.9728,0,8,8,0,0,57293.1649516,Central
12,2023-12-31 23:31:00,"{'latitude': '41.887919288', 'human_address': ...",18.0,003XX N STATE ST,1902537.0,41.887919,OTHER VIOLATION,STREET,2024-01-08T15:59:56.000,8.0,...,NEAR NORTH SIDE,0,76675895.9728,0,8,8,0,0,57293.1649516,Central
46,2023-12-31 22:34:00,"{'latitude': '41.909959349', 'human_address': ...",18.0,015XX N SEDGWICK ST,1910545.0,41.909959,SIMPLE,APARTMENT,2024-01-08T15:59:56.000,8.0,...,NEAR NORTH SIDE,0,76675895.9728,0,8,8,0,0,57293.1649516,Central
77,2023-12-31 21:40:00,"{'latitude': '41.903165497', 'human_address': ...",18.0,0000X W ELM ST,1908090.0,41.903165,UNLAWFUL POSSESSION - HANDGUN,STREET,2024-01-08T15:59:56.000,8.0,...,NEAR NORTH SIDE,0,76675895.9728,0,8,8,0,0,57293.1649516,Central

In [21]:
property_df.columns

Index(['style', 'beds', 'sqft', 'year_built', 'days_on_mls', 'sold_price',
       'last_sold_date', 'latitude', 'longitude', 'community', 'neighborhood'],
      dtype='object')

In [10]:
columns_to_drop = ['property_url', 'mls_id', 'street', 'zip_code', 'full_baths', 'half_baths', 'list_price', 'list_date', 'lot_sqft', 'price_per_sqft', 'stories', 'hoa_fee', 'parking_garage', 'index_right', 'area', 'shape_area', 'shape_area', 'perimeter', 'area_num_1', 'area_numbe', 'comarea_id', 'comarea', 'shape_len']

property_df = property_df.drop(columns=columns_to_drop)

In [11]:
columns_to_drop = ['district', 'block', 'y_coordinate', 'updated_on', 'community_area', 'iucr', 'x_coordinate', 'ward', 'case_number', 'year', 'fbi_code', 'beat', 'primary_type', 'description', 'location_description', 'beat', 'district', 'ward', 'community_area', 'fbi_code']

crime_df = crime_df.drop(columns=columns_to_drop)

In [22]:
crime_df.columns

Index(['date', 'latitude', 'domestic', 'longitude', 'arrest', 'id',
       'community', 'area', 'Neighborhood'],
      dtype='object')

In [12]:
columns_to_drop = ['index_right', 'shape_area', 'perimeter', 'area_num_1', 'area_numbe', 'comarea_id', 'comarea', 'shape_len']

crime_df = crime_df.drop(columns=columns_to_drop)

In [13]:
crime_df.drop(columns=['geometry'], inplace=True)

In [22]:
# Remove duplicates from the DataFrame
crime_df = crime_df.drop_duplicates()

In [24]:
crime_df.shape

(2485061, 33)

### Saving data to a database

In [27]:
import sqlite3

In [28]:
conn = sqlite3.connect('chicago-crime-property.db')
cursor = conn.cursor()

In [29]:
# Convert other columns to the desired data types as before
#crime_df['district'] = crime_df['district'].fillna(-1).astype(int)
#crime_df['y_coordinate'] = crime_df['y_coordinate'].astype(float)
#crime_df['x_coordinate'] = crime_df['x_coordinate'].astype(float)
#crime_df['ward'] = crime_df['ward'].fillna(-1).astype(int)
#crime_df['year'] = crime_df['year'].fillna(-1).astype(int)
crime_df['domestic'] = crime_df['domestic'].fillna(-1).astype(int)
#crime_df['beat'] = crime_df['beat'].fillna(-1).astype(int)
crime_df['arrest'] = crime_df['arrest'].fillna(-1).astype(int)

# Convert date and updated_on to strings
crime_df['date'] = crime_df['date'].astype(str)
#crime_df['updated_on'] = crime_df['updated_on'].astype(str)
crime_df['community'] = crime_df['community'].astype(str)

# Now you can insert the DataFrame into the SQL database
crime_df.to_sql('Crime', conn, if_exists='replace', index=False)

conn.commit()

In [30]:
property_df.to_sql('Property', conn, if_exists='replace', index=False)
conn.commit()

In [18]:
crime_query = "SELECT COUNT(*) FROM Crime;"
crime_count = conn.execute(crime_query).fetchone()[0]

print(f"Number of rows in 'Crime' table: {crime_count}")

Number of rows in 'Crime' table: 2485061

In [19]:
property_query = "SELECT COUNT(*) FROM Property;"
property_count = conn.execute(property_query).fetchone()[0]

print(f"Number of rows in 'Property' table: {property_count}")

Number of rows in 'Property' table: 313419

In [31]:
# Define the SQL query to create a new table 'crime_property' with the joined data
query = """
CREATE TABLE IF NOT EXISTS crime_property AS
SELECT *
FROM Property
INNER JOIN Crime ON Property.community = Crime.community
WHERE strftime('%Y', Crime.Date) = '2023';
"""

# Execute the SQL query to create the new table
conn.execute(query)

OperationalError: database or disk is full

In [25]:
# Define the SQL query to create a new table 'crime_property' with the joined data
query = """
CREATE TABLE IF NOT EXISTS crime_property AS
SELECT *
FROM Property
INNER JOIN Crime ON Property.community = Crime.community
WHERE strftime('%Y', Crime.Date) BETWEEN '2019' AND '2023';
"""

# Execute the SQL query to create the new table
conn.execute(query)

OperationalError: incomplete input

In [ ]:
conn = sqlite3.connect('your_database.db')

In [40]:
property_df.to_sql('Property', conn, if_exists='replace', index=False)

crime_df.to_sql('Crime', conn, if_exists='replace', index=False)

conn.commit()

In [41]:
import pandas as pd
import sqlite3  # Replace with your database library if needed

# Connect to the database
conn = sqlite3.connect('your_database.db')  # Replace with your database connection details

# Execute the SQL query and store the result in a DataFrame
merged_df = pd.read_sql_query("SELECT * FROM Property INNER JOIN Crime ON Property.community = Crime.community;", conn)

# Close the database connection
conn.close()

DatabaseError: Execution failed on sql 'SELECT * FROM Property INNER JOIN Crime ON Property.community = Crime.community;': no such table: Property

In [42]:
db_path = 'chicago-crime-property.db'

In [24]:
conn = sqlite3.connect('chicago-cirme-property.db')

cursor = conn.cursor()

NameError: name 'sqlite3' is not defined

In [44]:
merged_df = pd.read_sql_query("SELECT * FROM Property INNER JOIN Crime ON Property.community = Crime.community;", conn)

DatabaseError: Execution failed on sql 'SELECT * FROM Property INNER JOIN Crime ON Property.community = Crime.community;': no such column: Property.community